@media screen and (max-width: 414px) {
  .container {
    /* width: 1600px; */
    padding: 20px;
  }
  .nav-bar {
    padding: 0px;
    width: 100%;
  }
  .nav-container {
    position: fixed;
    background-color: #020224ab;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 100px;
    width: 50%;

    /* padding-right: 50px !important; */
  }

  .greeting-container > p {
    font-size: 0.8rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }

  .image-dump {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  #img-1 {
    grid-area: 1/3/3/2;
  }
  #img-2 {
    grid-area: 2/1/4/2;
  }
  #img-3 {
    grid-area: 4/1/6/2;
  }
  #img-4 {
    grid-area: 2/3/4/2;
    width: 200px;
    align-self: center;
    justify-self: center;
  }
  #img-5 {
    grid-area: 4/2/4/2;
    width: 200px;
  }
  #img-6 {
    grid-area: 5/2/6/2;
  }
  footer > p {
    text-align: center;
    color: white;
  }
  footer {
    background-color: #111;
  }
}
